/*resets*/

body {
	margin: 0;
	padding: 0;
}


h1 {
	color: white

}

.red-text{
	color: red;
	font-size: 20px;
}
#first-text-box{
	background-color: white;
}


.homepage-1 {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: helvetica;
	font-size: 50px;
	text-align: center;
	padding-top: 200px;
	background-position: center;
	background-image: url('../images/mug_image_gradient02-at-2300px-w.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 2300px;
	background-color: white;
	min-height: 100%
 
}


.homepage-2 {
margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: helvetica;
	text-align: center;
	background-position: center;
	background-image: url('../images/mug_image.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	min-height: 100%

}







/*helper classes*/

.centered {
	text-align: center;
}

.margin-top-large {
	margin-top: 250px;
	font-size: 60px;
	color: black;
	font-family: arial;
} 