/*resets*/

body {
	margin: 0;
	padding: 0;
}


h1 {
	color: blue

}

.red-text{
	color: red;
	font-size: 20px;
}
#first-text-box{
	background-color: black;
}

.hero-unit {
	height: 600px;
	border: 1px solid green;
	background-image: url('../images/coast_image.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%

}



/*helper classes*/

.centered {
	text-align: center;
}

.margin-top-large {
	margin-top: 250px;
	font-size: 60px;
	color: white;
	font-family: arial;
} 